*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    
}

@font-face {
    font-family: "Myfont";
    src: url("./WFVisualSans-SemiBold-aa0e55353b6a1b897f76a0fcbf5561fa243ce1b8b9f6aebcb5a186f0536713b1.woff2");
}

@font-face {
    font-family: "MonaSans";
    src: url("./Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.woff2");
}

@font-face {
    font-family: "VisualSans";
    src: url("./WFVisualSans-RegularText-46461986901f80620e484e70aa8cbb90ede25a01351d464819a4e47a3f38ea43.woff2");
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(14px,1.1vw,18px);
}

body{
    background-color: #fff;
    // color: black;
}

@mixin flex-column($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main{
    @include flex-column(0rem);
    width: 100%;
    align-items: center;

    header.navbar{
        @include flex-column(0rem);
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0rem 1rem;

        .nav-left{
            @include flex-column(1.5rem);
            flex-direction: row;
            align-items: center;

            .logo{
               img{
                 width: 5rem;
                 height: 5rem;
               }
            }
            .icon{
                font-size: 2rem;
                font-weight: 700;
            }
        }

        .menu{
            display: none;
        }

        .nav-right{
            @include flex-column(0rem);
            flex-direction: row;
            align-items: center;

            button{
                width: fit-content;
                outline: none;
                border: none;
                background-color: #0d0c22;
                color: #fff;
                padding: 0.8rem 2rem;
                border-radius: 30px;
                font-weight: 700;
            }
            .sign-up{
                display: none;
            }
        }
    }

    section.view1{
        width: 100%;
        height: auto;
        @include flex-column(1.5rem);
        align-items: center;
        justify-content: center;
        padding: 2rem 1rem;
        font-family: "MonaSans";
        text-align: center;

        .content{
            @include flex-column(2rem);
            align-items: center;
            justify-content: center;

            h1{
                font-size: 2.3rem;
                font-weight: 600;
                color: #0d0c22;
                line-height: 0.1;
                
            }

            p{
                font-size: clamp(1rem,2vw,1.2rem);
                opacity: 0.8;
                line-height: 1.5;
                max-width: 600px;
            }

            .buttons{
                @include flex-column(1rem);
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                padding: 1rem;
                font-family: "MonaSans";

                .btn1{
                    background-color: #0d0c22;
                    color: #fff;
                    border-radius: 40px;
                    padding: 0.9rem 1.2rem;
                    font-size: 1rem;
                    font-weight: 600;
                    opacity: 0.9;
                }
                
                .btn2{
                    border: none;
                    outline: none;
                    background-color: #fff;
                    color: #0d0c22;
                    border-radius: 40px;
                    padding: 0.8rem 1.2rem;
                    font-size: 1rem;
                    font-weight: 600;
                    opacity: 0.9;
                }
                .btn3{
                    border: none;
                    outline: none;
                    background-color: #fff;
                    color: #0d0c22;
                    border-radius: 40px;
                    padding: 0.8rem 1.2rem;
                    font-size: 1rem;
                    font-weight: 600;
                    opacity: 0.9;
                }
            }

            button:hover{
                opacity: 0.8;
                transition: all 0.1s ease-in-out;
            }
        }

        .factors{
            @include flex-column(0rem);
            align-items: center;
            justify-content: center;

            .search{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5rem;
                padding: 0.5rem 1rem;
                border: 1px solid #ccc;
                border-radius: 30px;

                
            }
        }
    }
}

@media (min-width:960px) {
    main{
        padding: 0rem 1rem;
        header.navbar{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            

            .top{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 1rem;

                .nav-left{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1.5rem;
                    
                    .icon{
                        display: none;
                    }
                    .logo{
                        gap: 1rem;
                        margin-right: 3rem;
                        img{
                            width: 4rem;
                            height: 4rem;
                        }
                        img:hover{
                            opacity: 0.7;
                            cursor: pointer;
                            transition: all 0.1s ease-in-out;
                        }
                    }
            }
            .menu{
                    display: flex;
                    flex-direction: row;
                    // align-items: center;
                    gap: 2rem;
                    padding: 1.5rem 0rem;

                    a{
                        font-size: 0.8rem;
                        color: #0d0c22;
                        text-decoration: none;
                        font-weight: 600;
                    }
                    a:hover{
                        opacity: 0.6;
                        transition: all 0.1s ease-in-out;
                    }
            }
        }

            .nav-right{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .sign-up{
                    display: flex;

                    button{
                        background-color: #fff;
                        color: #0d0c22;
                        
                    }
                
                }

                button{
                    padding: 0.9rem 1.4rem;
                    font-size: 0.8rem;
                    cursor: pointer;
                }
                button:hover{
                    opacity: 0.6;
                    transition: all 0.1s ease-in-out;
                }
            }
        }
    }
}

// 4k screen
@media (min-width: 2560px) {

}