*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(14px,1.1vw,18px);
}

body{
    background-color: #fff;
    // color: black;
}

@mixin flex-column($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main{
    @include flex-column(0rem);
    width: 100%;
    align-items: center;

    header.navbar{
        @include flex-column(0rem);
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0rem 1rem;

        .nav-left{
            @include flex-column(1.5rem);
            flex-direction: row;
            align-items: center;

            .logo{
               img{
                 width: 5rem;
                 height: 5rem;
               }
            }
            .icon{
                font-size: 2rem;
                font-weight: 700;
            }
        }

        .menu{
            display: none;
        }

        .nav-right{
            @include flex-column(0rem);
            flex-direction: row;
            align-items: center;

            button{
                width: fit-content;
                outline: none;
                border: none;
                background-color: #0d0c22;
                color: #fff;
                padding: 0.8rem 2rem;
                border-radius: 30px;
                font-weight: 700;
            }
            .sign-up{
                display: none;
            }
        }
    }
}

@media (min-width:960px) {
    main{
        header.navbar{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            

            .top{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .nav-left{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    .icon{
                        display: none;
                    }
                    .logo{
                        img{
                            width: 6rem;
                            height: 6rem;
                    }
                }
            }
            .menu{
                    display: flex;
                    flex-direction: row;
                    // align-items: center;
                    gap: 2rem;
                    padding: 1rem 0rem;

                    a{
                        color: #0d0c22;
                        text-decoration: none;
                        font-weight: 600;
                    }
                }
        }

            .nav-right{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .sign-up{
                    display: flex;

                    button{
                        background-color: #fff;
                        color: #0d0c22;
                        
                    }
                
                }

                button{
                    padding: 1rem 1.5rem;
                    font-size: 0.8rem;
                }
                }

            
        }
    }
}